// Navigation Styles here

// Links

header {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

nav {
    display: flex;
    margin-left: 250px;
    a {
        display: flex;

        margin: 20px 15px;
        text-decoration: none;
        color: @shark;
        font-size: 1.6em;
    }

}