// Navigation Styles here

// Links

header {
    display: flex;
    align-items: baseline;
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 2px dashed @navigation-border;
    h1 {
        margin-left: 200px;
    }
    // @media @mobile {
    //     display: flex;
    //     flex-wrap: wrap;
    // }
}

nav {
    display: flex;
    padding-left: 300px;
    a {
        display: flex;
        margin: 25px 15px 0px 15px;
        text-decoration: none;
        color: @shark;
        font-size: 1.6em;
        font-style: bold;
    }

}